@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.higher.ph-picture {
  height: 360px;
}
.smaller.ph-avatar {
  width: 50%;
}
.gray-filter {
  /* opacity: 0.5; */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.btn-normal {
  cursor: pointer;
  @apply block bg-gray-800 text-center text-white p-3 duration-300 rounded-sm hover:bg-black w-full; 
}

.btn-disabled {
  cursor: wait;
  @apply block bg-gray-400 text-center text-white p-3 duration-300 rounded-sm w-full focus:outline-none;
}